

// Include custom theme sass
@import "theme.app.scss";

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


body{
    background: red;
}

// ============ custome function =========

/* ----custom button style for header ------------ */
@mixin custom_button($w,$h,$url) {
    width:$w;
    height:$h;
    background: url($url) no-repeat 50% 50% !important;
}

.title{
    width:200px;
    height:auto;
    background: url("../img/ic_tvs.png") no-repeat 100% 100% !important;
    left:0!important;
}
.nav{
    @include custom_button(35px, auto, '../img/ic_back_arrow.png');
}
.search{
    @include custom_button(35px, auto, '../img/ic_search.png');
}
.notification{
    @include custom_button(35px, auto, '../img/ic_notification.png');
}
.fpassword{
    height:70px;
}
.left{
    float:left;
    color:#000;
}
.right{
    float:right;
    color:#000;
}
.button.button-calm {
    border-color: #111!important;
    background-color: #111!important;
    color: #fff;
    float: right!important;
}
