
<ion-nav-bar class="bar-energized" align-title="left">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left"  >
        <button class="button button-icon icon nav" menu-toggle="left" id="leftMenu"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon search"></a>
        <a class="button button-icon icon notification"></a>

    </ion-nav-buttons>
</ion-nav-bar>
<!-- <ion-nav-view name="menuContent" animation="slide-left-right" ></ion-nav-view> -->

<ion-tabs class="tabs-top tabs-striped tabs-default tabs-background-assertive">
    <ion-tab title="Customer Services" href="#/getintab/customerservices">
        <ion-nav-view name="customerservices"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Send Feedback " href="#/getintab/sendfeedback">
        <ion-nav-view name="sendfeedback"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Contact Us" href="#/getintab/contactus">
        <ion-nav-view name="contactus"></ion-nav-view>
    </ion-tab>
</ion-tabs>
