<ion-nav-bar  class="bar-assertive" align-title="center">
    <ion-nav-back-button class="button-clear showbtn" ng-click="goBack();">
      <i class="ion-ios-arrow-back"></i>
    </ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view name="homeView"></ion-nav-view>
