<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-energized" align-title="left">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left"  >
                <button class="button button-icon icon nav" menu-toggle="left" id="leftMenu"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a class="button button-icon icon search"></a>
                <a class="button button-icon icon notification"></a>

            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right" ></ion-nav-view>
    </ion-side-menu-content>
    <!------------------ left menu panel Start ------------------->
    <ion-side-menu side="left" class="navList">

        <ion-list>
            <ion-item class="item item-icon-left" menu-close href="#/app/dashboard"><i class="icon ion-android-apps"></i><span>Locate nearest Dealer</span></ion-item>
            <ion-item class="item item-icon-left" menu-close href="#/app/addVisitor"><i class="icon ion-person-add"></i><span>Pick the Right Tyre</span></ion-item>
            <ion-item class="item item-icon-left" menu-close href="#/app/visitorList"><i class="icon ion-person-stalker"></i><span>Vehicle Maintenance</span></ion-item>
            <ion-item class="item item-icon-left" menu-close href="#/app/notificationList"><i class="icon ion-ios-bell"></i><span>Tips</span></ion-item>
            <ion-item class="item item-icon-left"  ng-click="doLogout()" href="javascript:void(0);"><i class="icon ion-power"></i><span>Get In Touch</span></ion-item>
            <ion-item class="item item-icon-left" menu-close href="#/app/dashboard"><i class="icon ion-android-apps"></i><span>Financials</span></ion-item>
            <ion-item class="item item-icon-left" menu-close href="#/app/addVisitor"><i class="icon ion-person-add"></i><span>Expense manager</span></ion-item>
            <ion-item class="item item-icon-left" menu-close href="#/app/visitorList"><i class="icon ion-person-stalker"></i><span>Miscellaneous Expense</span></ion-item>
            <ion-item class="item item-icon-left" menu-close href="#/app/notificationList"><i class="icon ion-ios-bell"></i><span>My Account</span></ion-item>
            <ion-item class="item item-icon-left"  ng-click="doLogout()" href="javascript:void(0);"><i class="icon ion-power"></i><span>Settings</span></ion-item>
        </ion-list>

    </ion-side-menu>
    <!------------------ left menu panel Ends------------------->
</ion-side-menus>
