
<ion-nav-bar class="bar-energized" align-title="left">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left"  >
        <button class="button button-icon icon nav" menu-toggle="left" id="leftMenu"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon search"></a>
        <a class="button button-icon icon notification"></a>

    </ion-nav-buttons>
</ion-nav-bar>
<!-- <ion-nav-view name="menuContent" animation="slide-left-right" ></ion-nav-view> -->

<ion-tabs class="tabs-top tabs-striped tabs-default tabs-background-assertive">
    <ion-tab title="Tyre Care" href="#/tab/tyrecare">
        <ion-nav-view name="tyrecare"></ion-nav-view>
    </ion-tab>
    <ion-tab title="drivingtips" href="#/tab/drivingtips">
        <ion-nav-view name="drivingtips"></ion-nav-view>
    </ion-tab>
    <ion-tab title="weeklytips" href="#/tab/weeklytips">
        <ion-nav-view name="weeklytips"></ion-nav-view>
    </ion-tab>
</ion-tabs>
