<div class="list">

  <label class="item item-input item-select">
      <div class="input-label">
      Lightsaber
    </div>
    <select>
        <option selected>Product Segment</option>
      <option>Blue</option>
      <option >Green</option>
      <option>Red</option>
    </select>
  </label>

</div>
<div class="list">

  <label class="item item-input item-select">
      <div class="input-label">
      Lightsaber
      </div>
    <select>
        <option selected>Choose Vehicle</option>
      <option>Blue</option>
      <option >Green</option>
      <option>Red</option>
    </select>
  </label>

</div>
<div class="list">

  <label class="item item-input item-select">
      <div class="input-label">
      Lightsaber
      </div>
    <select>
        <option selected>Choose Model</option>
      <option>Blue</option>
      <option >Green</option>
      <option>Red</option>
    </select>
  </label>

</div>
<div class="list">

  <label class="item item-input item-select">
      <div class="input-label">
      Lightsaber
      </div>
    <select>
        <option selected>Choose Position</option>
      <option>Blue</option>
      <option >Green</option>
      <option>Red</option>
    </select>
  </label>

</div>
<div class="list">

    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Tyre Dimension</h2>
      <p>Tyre description</p>
      <a class="button icon-right ion-chevron-right button-calm" ng-click="reqQuote()">Request a quote</a>
    </a>



</div>
