<ion-view view-title="Request a quote" cache-view="false" can-swipe-back="false">
    <ion-content class="padding login" scroll="false">


        <form>

                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Name">
                    </label>
                    <label class="item item-input">
                        <input type="number" placeholder="Mobile No">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Email Id">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Location">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Description">
                    </label>
                </div>

                <div class="fpassword"><div class="left"><button class="button button-large  button-assertive" ng-click="cancel()">Cancel</button></div><div class="right"><button class="button button-large  button-assertive">Submit</button></div></div>
        </form>

    </ion-content>
</ion-view>
