<ion-view title="Send Feedback" cache-view="false">
    <ion-content>



        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Mobile No">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email Id">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Address">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Message">
            </label>
        </div>
<button class="button button-full button-positive" type="button" ng-click="submit()">Submit</button>



    </ion-content>
</ion-view>
