<ion-view title="Tyre Care" cache-view="false">
    <ion-content>



        <div class="list">

            <a class="item item-thumbnail-left" href="#" ng-click="goDetail()">
              <img src="img/avatar.png">
              <h2>Pretty Hate Machine</h2>
              <p>Nine Inch Nails</p>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="img/avatar.png">
              <h2>Pretty Hate Machine</h2>
              <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#" ng-click="goDetail()">
              <img src="img/avatar.png">
              <h2>Pretty Hate Machine</h2>
              <p>Nine Inch Nails</p>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            </a>
            <a class="item item-thumbnail-left" href="#" ng-click="goDetail()">
              <img src="img/avatar.png">
              <h2>Pretty Hate Machine</h2>
              <p>Nine Inch Nails</p>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            </a>
            <a class="item item-thumbnail-left" href="#" ng-click="goDetail()">
              <img src="img/avatar.png">
              <h2>Pretty Hate Machine</h2>
              <p>Nine Inch Nails</p>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            </a>
            <a class="item item-thumbnail-left" href="#" ng-click="goDetail()">
              <img src="img/avatar.png">
              <h2>Pretty Hate Machine</h2>
              <p>Nine Inch Nails</p>
              <i class="icon ion-ios-arrow-right"></i>
            </a>
            </a>


        </div>





    </ion-content>
</ion-view>
