<ion-view title="Weekly Tips" cache-view="false">
    <ion-content>


        <div class="list">
          <div class="item item-divider">Weekly Tips</div>
            <a class="item" href="#">Butterfinger</a>
            <a class="item" href="#">Butterfinger</a>
            <a class="item" href="#">Butterfinger</a>
            <a class="item" href="#">Butterfinger</a>
            <a class="item" href="#">Butterfinger</a>
            <a class="item" href="#">Butterfinger</a>

        </div>






    </ion-content>
</ion-view>
