<ion-view cache-view="false"  >
    <ion-content class="has-footer dashboard">

        <div class="row first">
            <div class="col">
                <!--<a href="#/app/placeOfInterest">-->
                <a ng-click="getDirection('app.placeOfInterest')">
                    <span svg-animation animation-one="pulse" gap-time="2000" animation-two="pulse"  class="images animated">

                        <span><img src="./img/ic_register_vehicle.png"/></span>
                    </span>
                    <span>Register Vehicle</span>
                </a>
            </div>
            <div class="col">
                <!--<a href="#/app/locateAddress">-->
                <a ng-click="getDirection('app.locateAddress')">
                    <span svg-animation animation-one="pulse" gap-time="10000" animation-two="pulse" class="images animated">

                        <span ><img src="./img/ic_add_reminder.png"/></span>
                    </span>
                    <span>Add Reminder</span>
                </a>
            </div>
            <div class="col">
                <!--<a href="#/app/ekanteSuite">-->
                <a ng-click="getDirection('tab.tyrecare')">
                    <span svg-animation animation-one="pulse" gap-time="12000" animation-two="pulse" class="images animated">

                      <span ><img src="./img/ic_vehicle_tips.png"/></span>
                    </span>
                    <span>Vehicle Tips</span>
                </a>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <!--<a href="#/app/digitalLibrary">-->
                <a ng-click="getDirection('app.digitalLibrary')">
                    <span svg-animation animation-one="pulse" gap-time="6000" animation-two="pulse" class="images animated">

                          <span ><img src="./img/ic_vehicle_maintenance.png"/></span>
                    </span>
                    <span>Vehicle Maintenance</span>
                </a>
            </div>
        <div>
        <a ng-click="getDirection('app.pickveh')">
            <span svg-animation animation-one="pulse" gap-time="4000" animation-two="pulse" class="images animated">

                  <span ><img src="./img/ic_select_tyre.png"/></span>
            </span>
            <span>Select Tyre</span>
        </a>
    </div>
    <div class="col">
        <!--<a href="#/app/events">-->

    <div class="col">
        <!--<a href="#/app/audioTours">-->
        <a ng-click="getDirection('app.audioTours')">
            <span svg-animation animation-one="pulse" gap-time="8000" animation-two="pulse" class="images animated">

                <span><img src="./img/ic_dealer_locator.png"/></span>
            </span>
            <span>Dealer Locator</span>
        </a>
    </div>
</div>
    </div>
        <div class="row">
            <div class="col">
                <!--<a href="#/app/digitalLibrary">-->
                <a ng-click="getDirection('getintab.customerservices')">
                    <span svg-animation animation-one="pulse" gap-time="6000" animation-two="pulse" class="images animated">

                          <span ><img src="./img/ic_get_in_touch.png"/></span>
                    </span>
                    <span>Get In Touch</span>
                </a>
            </div>
        <div>
        <a ng-click="getDirection('app.events')">
            <span svg-animation animation-one="pulse" gap-time="4000" animation-two="pulse" class="images animated">

                  <span ><img src="./img/ic_financial_documents.png"/></span>
            </span>
            <span>Financial Documents</span>
        </a>
    </div>

    <div class="col">
        <!--<a href="#/app/audioTours">-->
        <a ng-click="getDirection('app.audioTours')">
            <span svg-animation animation-one="pulse" gap-time="8000" animation-two="pulse" class="images animated">

                <span><img src="./img/ic_my_expense_management.png"/></span>
            </span>
            <span>My Expense management</span>
        </a>
    </div>
        </div>
    </ion-content>

</ion-view>
