<ion-view view-title="Forgot password" cache-view="false" can-swipe-back="false">
    <ion-content class="padding login" scroll="false">

        <h5>Send Password In</h5>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="'A'">Email</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Phone No</ion-radio>
        </ion-list>
        <form>
            <div class="list list-inset">
                <label class="item item-inpu item-icon-left">
                    <i class="icon ion-android-person"></i>
                    <input type="text" ng-model="user.userName" placeholder="email id">
                </label>

            </div>

            <div class="fpassword">Password will be sent to registered email id</div>
            <button class="button button-full button-positive" type="button" ng-click="submit()">Submit</button>

        </form>

    </ion-content>
</ion-view>
