<ion-view view-title="LOGIN" cache-view="false" can-swipe-back="false">
    <ion-content class="padding login" scroll="false">


        <form>
            <div class="list list-inset">
                <label class="item item-inpu item-icon-left">
                    <i class="icon ion-android-person"></i>
                    <input type="text" ng-model="user.userName" placeholder="youremailid@yourdomain.it">
                </label>
                <span style="color:red" ng-show="myform.email.$dirty && myform.email.$invalid">
                <span ng-show="myform.email.$error.required">Email is required.</span>
                <span ng-show="myform.email.$error.email">Invalid email address.</span>
                </span>
            </div>
            <div class="list list-inset">
                <label class="item item-inpu item-icon-left">
                    <i class="icon ion-android-lock"></i>
                    <input type="password" ng-model="user.userPassword" placeholder="youremailid@yourdomain.it">
                </label>
            </div>
            <div class="fpassword"><div class="left"></div><div class="right"><button class="button button-clear button-positive" ng-click="Fpassword()">Forgot Password?</button></div></div>
            <button class="button button-block button-positive" type="button" ng-click="login()">Sign In</button>
        <div class="fpassword"><div class="left">Not A member?</div><button class="button button-clear button-positive" ng-click="register()">Sign Up</button></div>
        </form>

    </ion-content>
</ion-view>
