<ion-view view-title="Registration" cache-view="false" can-swipe-back="false">
    <ion-content class="padding login" scroll="false">


        <form>

                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="Name">
                    </label>
                    <label class="item item-input">
                        <input type="number" placeholder="Mobile No">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Email Id">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="User Type">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Address">
                    </label>
                </div>
                <button class="button button-block button-positive" type="button" ng-click="signUp()">Sign Up</button>
                <div class="fpassword">Already a member?<button class="button button-clear button-positive" ng-click="SignIn()">Sign In</button></div>
        </form>

    </ion-content>
</ion-view>
